extends ../mlayout
block css
      script.
        (function(){
          var href=window.location.href.split('/').pop();
          var device=window.navigator.userAgent;
          var reg=/(nokia|iphone|android|ipad|motorola|^mot\-|softbank|foma|docomo|kddi|up\.browser|up\.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam\-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte\-|longcos|pantech|gionee|^sie\-|portalmmm|jig\s browser|hiptop|^ucweb|^benq|haier|^lct|opera\s*mobi|opera\*mini|320x320|240x320|176x220)/i
          if(reg.test(device)){
          window.location.href='/m/user/'+href;
          }
        })()


      link(rel='stylesheet', href='/css/page.css')
block content
  #contai-info
    include ../includes/header
    #body.clearfix
      .headbg
        .info
          .pic
            if user.pic.length>1
              img(src="/upload/#{user.pic}", alt="#{user.name}")
            else
              img(src="/images/moren.png", alt="#{user.name}")
          .name
            h3 #{user.name}
      .body-wrap
        .btn-wrap
          #change-pswd
            a(href='/restpswd') 修改密码
          #info-logout
            a(href='/logout') 退出用户
        .container.clearfix
          .wrap_nav
            .nav-ul
              ul
                li
                  a#md.tablin(href='javascript:;') 我的收藏
                li
                  a(href='javascript:;') 个人信息
          .wrap_info
            .mylove#mylove.content(data-colcount="#{colcount}")
              if loves && loves.length>0
                .mylove-wrap.clearfix
                  each love in loves
                    dl
                      dt
                        a(href='/movie/#{love._id}')
                          img(src='#{love.poster}', alt='#{love.title}')
                      dd
                        p.clearfix
                          | #{love.title}
                        span.love_on #{love.average}
                .btm_nav.clearfix
                  ul
                    li
                      a#page-prev(href='/user/#{user._id}?p=#{currentPage-2}#md')
                        span
                    li
                      .page-turn
                        form#page_input(action="")
                          label(for="input")
                            input#input(type="text",value="#{currentPage}")
                        i /
                        span #{totalPage}
                        button(type="button") 跳转
                    li
                      a#page-next(href='/user/#{user._id}?p=#{currentPage}#md') 
                        span
              else
                .no-loves 空空如也，快去添加收藏吧~
            .myinfo
              div.info-change
                if user.role>50
                  a(href='/admin/movie/list') 进入后台
                span#change 修改资料
              div.info-show
                div.list-info
                  ul
                    li
                      p 用户名:
                        span #{user.name}
                    li
                      p 性别:
                        span #{user.sex}
                    li
                      p 年龄:
                        span #{user.age}
                    li
                      p 邮箱:
                        span #{user.email}
                    li
                      p 头像:
                        span 可修改
              div.upload-pic-wrap.clearfix
                form#frmUploadFile.form-horizontal(enctype='multipart/form-data', method='post', action='/formi')
                  h2 上传头像
                  .form-group.f1
                    label
                    .pic-file
                      input#file_pic_uoload(type='file', name='files')
                  .form-group.f2
                    button#picupload(type="submit") 上传
    include ../includes/footer
block js
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/jquery.form.js')
  script(type='text/javascript', src='/js/info.js')


